{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" href="/classifications" role="button">Back</a>
                <a class="btn btn-dark" 
                  href="/download_results/{{ image_id }}?model_id={{ model_id }}" 
                  download 
                  role="button">
                  Download results
                </a>

<button id="downloadPlotBtn" class="btn btn-info">Download plot</button>

<script>
document.getElementById('downloadPlotBtn').addEventListener('click', function() {
    var canvas = document.getElementById('classificationOutput');
    var link = document.createElement('a');
    link.download = '{{ image_id }}_plot.png';  // <-- nom dynamique ici
    link.href = canvas.toDataURL('image/png');
    link.click();
});
</script>


        </div>
    </div>
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
{% endblock %}

